<nav class="navbar navbar-expand-lg px-4" style="background-color: #AF2532; color: white;">
  <div class="container-fluid position-relative w-100 d-flex justify-content-between align-items-center">
    <!-- ( logo placeholder) -->
  <div style="width: 150px; height: 45spx; display: flex; justify-content: center; align-items: center;">
     <img src="assets/logo/VICS-logo-white.png" class="img-fluid" style="max-width: 60%;">
  </div>
    <!-- Center Title using absolute positioning -->
    <div class="position-absolute start-50 translate-middle-x">
      <span class="navbar-brand mb-0 h1 text-white" style = "font-size:22px; text-decoration: solid;">Visitors Information and Certification System</span>
    </div>
    <!-- Right-aligned Help Text -->
   <div class="text-white small text-end">
    Contact No: 09209745783<br>
    Email: phrmo&#64;davaodelnorte.gov.ph
  </div>
  </div>
</nav>
